*{
    margin: 0;
}
body{
    display: flex;
    background-color: aqua;
    flex-direction: column;
    min-height: 100vh;
    width:100%;
    /* overflow: hidden;
    overflow-wrap: break-word; */
    font-family: 'Playpen Sans';
    font-size: 15px;
}
header{
    display: flex;
    width: 100%;
    height: 80px;
    background-color:#ffffff;
    justify-content: space-around;
    align-items: center;
}
.main_name{
    width: 220px;
    height: 75px;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop{
    color: #7d7d7d;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    height: auto;
    background-color:#ffffff;
    position: relative;
}
.page{
    text-decoration: none;
}
.page_color{
    color: #121212;
}

.icons{
    display: flex;
    width: 15px;
    height: 65px;
    /* background-color: aqua; */
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    right:  0;
}

footer{
    display: flex;
    width:100%;
    min-height: 70px;
    max-height: 240px;
    background-color: #121212;
    color: #cecece;
    margin-top: auto;
    justify-content: space-around;
    align-items: center;

}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

a{
    color: #cecece;
}
