@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yvh5q4');
  src:  url('fonts/icomoon.eot?yvh5q4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yvh5q4') format('truetype'),
    url('fonts/icomoon.woff?yvh5q4') format('woff'),
    url('fonts/icomoon.svg?yvh5q4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-decoration: none;
  color: #121212;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-youtube:before {
  content: "\ea9d";
}
